*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  font-family: 'Roboto Serif', serif;
  background: #fcc2d7;
}

.hidden{
  display: none;
}

.container{
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0,0,0, 0.6);
  border-radius: 2.4rem;
}

.welcome-message{
  background-color: #134B70;
  padding: 2.4rem;
  border-radius: 2.4rem 0 0 2.4rem;
}

.grid-2c{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.primary,
.primary-center{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.secondary{
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 1.8rem;
}

.welcome-message img{
  width: 20rem;
}

.primary-center{
  text-align: center;
}

.form{
  column-gap: 1.6rem;
}

.login-section, .register{
  background: #508C9B;
  padding: 2.4rem;
  border-radius: 0 2.4rem 2.4rem 0;
}

.login-section form, .register form{
  row-gap: 1.2rem;
  font-size: 1.2rem
}

.login-section form input,
.register form input{
  border: 1px solid black;
  height: 1.8rem;
  border-radius: 0.6rem;
  background-color: #b9d1d7 ;
}

.login-section form input:last-child,
.register form input:last-child{
  grid-column: 2;
  width: 6.4rem;
  cursor: pointer;
  background-color: #40707c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  color: #fff;
}

.create-account{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.create-account p{
  line-height: 1.5;
}

.create-account, .have-acc{
  font-size: 1.2rem;
  margin-top: 1.6rem;
}

.forgot,
.span-create-acc,
.span-login{
  font-weight: 600;
  cursor: pointer;
}